.flag{
    width: 30vh;
    margin-top: -4vh;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 10vh;
    margin-right: 10vh;
}
.icon{
    width: 30px;
   
}
a{
    text-decoration: none;
}
@media screen and (max-width:768px) and (min-width:426px){
    .navbar{
       display: flex;
       justify-content: space-between;
       margin-left: 0;
       margin-right: 0;

    }
}

@media screen and (max-width:425px) and (min-width:50px){
        .navbar{
            display: block;
            justify-content: center;
            margin-left: 0;
            line-height: 2;
            margin-right: 0;
        }
        .icon{
            display:  none;
        }
    }